NEXT_PUBLIC_APP_NAME=Codex Commerce
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api/v1
API_BASE_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_MEDIA_BASE_URL=http://localhost:5000
MEDIA_BASE_URL=http://localhost:5000


# NEXT_PUBLIC_API_URL=http://localhost:5000/api
# NEXT_PUBLIC_API_URL=https://firstprojects-tiz9.onrender.com/api
# BACKEND_API_URL=http://localhost:5000/api
# BACKEND_API_URL=https://firstprojects-tiz9.onrender.com/api