NODE_ENV=development
PORT=5000
# MONGO_URI=mongodb://localhost:27017/Codex_ecomm_db
MONGO_URI=mongodb+srv://hddb:hddb@cluster0.j06sv3j.mongodb.net/?appName=Cluster0

DB_NAME=Codex_ecomm_db
JWT_SECRET=replace_with_a_strong_secret
JWT_EXPIRES_IN=7d
# CLIENT_URL=http://localhost:3000
CLIENT_URL=https://ecommproject001.vercel.app